FileGenerator/build
FileGenerator/DerivedData
FileGenerator/FileGenerator.xcodeproj/project.xcworkspace/xcuserdata
FileGeneratorUsage/build
FileGeneratorUsage/DerivedData
FileGenerator/FileGenerator.xcodeproj/xcuserdata
FileGeneratorUsage/FileGeneratorUsage.xcodeproj/xcuserdata
FileGeneratorUsageSwift/build
FileGeneratorUsageSwift/DerivedData
FileGeneratorUsageSwift/FileGeneratorUsageSwift.xcodeproj/project.xcworkspace/xcuserdata
FileGeneratorUsageSwift/FileGeneratorUsageSwift.xcodeproj/xcuserdata
FileGeneratorUsage/FileGeneratorUsage.xcodeproj/project.xcworkspace/xcuserdata
